<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pm="http://primefaces.org/mobile">

<ui:composition template="/templates/base.xhtml">
	<ui:define name="left">
		<script type="text/javascript">
			function goToBack() {
				toBack();
			}
		</script>
		<h:form>
			<p:remoteCommand name="toBack" ajax="true"
				actionListener="#{formBean.goToBack}" />
		</h:form>
		<p:button
			outcome="pm:currenttasklist?transition=slide&amp;reverse=true"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" onclick="goToBack();" />
	</ui:define>
	<ui:define name="main" id="main">
		<p:panelGrid id="taskfrom" rendered="#{not empty formBean.form}">
			<h:form id="jsf-jmbpmn-form" binding="#{formBean.form.form}" />
		</p:panelGrid>
	</ui:define>

	<ui:define name="footer" id="footer">
		<h:form id="ff">
			<p:remoteCommand name="update"
				update=":tasklist:tasklistform, :currenttasklist:currenttasklistform,
				:tasklist:ftl:tasklisttab, :currenttasklist:fctl:tasklisttab,
				:form:ff:formtab">
			</p:remoteCommand>
			<p:tabMenu activeIndex="2" id="formtab">
				<p:menuitem value="Доступные задания" icon="ui-icon-bars"
					outcome="pm:tasklist?transition=flow&amp;reverse=true"
					iconPos="top" onclick="update()" />
				<p:menuitem value="Текущие задания" icon="ui-icon-bullets"
					outcome="pm:currenttasklist?transition=flow&amp;reverse=true"
					iconPos="top" onclick="update()" />
				<p:menuitem value="Форма" icon="ui-icon-user" url="#" iconPos="top" />
			</p:tabMenu>
		</h:form>
	</ui:define>
</ui:composition>
</html>