<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/base.xhtml">

	<ui:define name="left">
		<p:button outcome="pm:admin?transition=slide&amp;reverse=true"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" />
	</ui:define>
	
	<ui:define name="main" id="main">
		<h:form enctype="multipart/form-data">
			<p:fileUpload value="#{deploymentBean.file}" mode="simple"
				skinSimple="true" />
			<p:commandButton value="Submit" ajax="false"
				actionListener="#{deploymentBean.upload}" />
		</h:form>
	</ui:define>

</ui:composition>