<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view renderKitId="PRIMEFACES_MOBILE" />
<h:head>
</h:head>
<h:body>

	<ui:include src="/tasks/TaskList.xhtml">
		<ui:param name="title" value="Доступные задания" />
		<ui:param name="id" value="tasklist" />
	</ui:include>

	<ui:include src="/tasks/Task.xhtml">
		<ui:param name="title" value="Задание" />
		<ui:param name="id" value="task" />
	</ui:include>

	<ui:include src="/tasks/CurrentTaskList.xhtml">
		<ui:param name="title" value="Текущие задания" />
		<ui:param name="id" value="currenttasklist" />
	</ui:include>

	<ui:include src="/form/Form.xhtml">
		<ui:param name="title" value="Форма" />
		<ui:param name="id" value="form" />
	</ui:include>
	
	<ui:include src="/admin/main.xhtml">
		<ui:param name="title" value="Администрирование" />
		<ui:param name="id" value="admin" />
	</ui:include>

	<ui:include src="/admin/user/Users.xhtml">
		<ui:param name="title" value="Пользователи" />
		<ui:param name="id" value="admin-users" />
		<ui:param name="bean" value="#{usersBean}" />
	</ui:include>
	
	<ui:include src="/admin/group/Groups.xhtml">
		<ui:param name="title" value="Группы" />
		<ui:param name="id" value="admin-groups" />
		<ui:param name="bean" value="#{groupsBean}" />
	</ui:include>
	
	<ui:include src="/admin/role/Roles.xhtml">
		<ui:param name="title" value="Роли" />
		<ui:param name="id" value="admin-roles" />
		<ui:param name="bean" value="#{rolesBean}" />
	</ui:include>
	
	<ui:include src="/admin/process/Processes.xhtml">
		<ui:param name="title" value="Процессы" />
		<ui:param name="id" value="admin-processes" />
		<ui:param name="bean" value="#{processBean}" />
	</ui:include>
	
	<ui:include src="/admin/deployment/Deployment.xhtml">
		<ui:param name="title" value="Модули" />
		<ui:param name="id" value="admin-deployment" />
	</ui:include>
	
</h:body>

</html>