<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/base.xhtml">

	<ui:define name="left">
		<p:button outcome="pm:admin?transition=slide&amp;reverse=true"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" />
	</ui:define>

	<ui:define name="main" id="main">
		<p:dataTable var="item" value="#{bean.getPage()}" rowKey="#{item.id}"
			paginator="true" rows="10" tableStyleClass="ui-table-columntoggle"
			selectionMode="single">
			<p:ajax event="swiperight" listener="#{bean.remove}" update="@this" />
			<p:column headerText="Id" sortBy="#{itemid}" priority="1">
				<h:outputText value="#{item.id}" />
			</p:column>
			<p:column headerText="Название" sortBy="#{item.login}" priority="2">
				<h:outputText value="#{item.login}" />
			</p:column>
		</p:dataTable>
	</ui:define>

</ui:composition>