<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pm="http://primefaces.org/mobile"
	template="/templates/base.xhtml">

	<ui:define name="main" id="main">
		<script type="text/javascript">
			function goToTaskForm(taskId, taskName) {
				toTaskForm([{name: "taskId", value: taskId}]);
			}
		</script>
		<h:form id="currenttasklistform">
			<p:remoteCommand name="toTaskForm" ajax="true" actionListener="#{formBean.goToTaskForm}" 
				update=":form:taskfrom" oncomplete="updateForm();"/>
			<p:remoteCommand name="updateForm" update=":form:taskfrom"/>
			<p:panelGrid rendered="#{empty currentTaskListBean.tasks}">
				<h2 align="center">У вас нет текущих задач</h2>
			</p:panelGrid>
			<p:dataList value="#{currentTaskListBean.tasks}" var="task" 
				pt:data-inset="true" paginator="true" rows="10"
				rendered="#{not empty currentTaskListBean.tasks}">
				<p:link outcome="pm:form?transition=slide"
					onclick="goToTaskForm(#{task.taskId});">
					<h2>#{task.name}</h2>
				</p:link>
			</p:dataList>
		</h:form>
	</ui:define>
	
	<ui:define name="footer">
		<h:form id="fctl">
			<p:remoteCommand name="updateTaskListFooter" update=":tasklist:ftl:tasklisttab"></p:remoteCommand>
			<p:tabMenu activeIndex="1" id="tasklisttab">
				<p:menuitem value="Доступные задания" icon="ui-icon-bars"
					outcome="pm:tasklist?transition=flow&amp;reverse=true" iconPos="top"
					onclick="updateTaskListFooter();" />
				<p:menuitem value="Текущие задания" icon="ui-icon-bullets" url="#"
					iconPos="top" />
			</p:tabMenu>
		</h:form>
	</ui:define>
</ui:composition>