<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pm="http://primefaces.org/mobile"
	template="/templates/base.xhtml">

	<ui:define name="main" id="main">
		<script type="text/javascript">
			function goToTaskView(taskId) {
				toTaskView([{name: "taskId", value: taskId}]);
			}
		</script>
		<h:form id="tasklistform">
			<p:remoteCommand name="toTaskView"
				actionListener="#{taskBean.goToTaskView}" update=":task:form:taskpanel, :task:taskfooter"/>
			<p:panelGrid rendered="#{empty taskListBean.tasks}">
				<h2 align="center">У вас нет доступных задач</h2>
			</p:panelGrid>
		
			<p:dataList value="#{taskListBean.tasks}" var="task" rendered="#{not empty taskListBean.tasks}"
				pt:data-inset="true" paginator="true" rows="10">
				<p:link outcome="pm:task?transition=slide"
					onclick="goToTaskView(#{task.taskId});">
					<h2>#{task.name}</h2>
				</p:link>
			</p:dataList>
		</h:form>
	</ui:define>

	<ui:define name="footer">
		<h:form id="ftl">
			<p:remoteCommand name="updateCurrentTaskListFooter"
				update=":currenttasklist:fctl:tasklisttab"></p:remoteCommand>
			<p:tabMenu activeIndex="0" id="tasklisttab">
				<p:menuitem value="Доступные задания" icon="ui-icon-bars" url="#"
					iconPos="top" />
				<p:menuitem value="Текущие задания" icon="ui-icon-bullets"
					outcome="pm:currenttasklist?transition=flow" onclick="updateCurrentTaskListFooter();" iconPos="top" />
			</p:tabMenu>
		</h:form>
	</ui:define>
</ui:composition>