<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pm="http://primefaces.org/mobile"
	>

	<ui:composition template="/templates/base.xhtml">
	<ui:define name="left">
		<p:button outcome="pm:tasklist?transition=slide&amp;reverse=true"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" />
	</ui:define>

	<ui:define name="main" id="main">
		<h:form id="form">
		<p:remoteCommand name="refreshTask" ajax="true" actionListener="#{taskBean.refreshTask()}" 
				update=":tasklist:tasklistform, :task:form:taskpanel, :currenttasklist:currenttasklistform"/>
		<p:panel id="taskpanel" header="Задание: #{taskBean.task.name}">
			<pm:field>
				<p:outputLabel for="owner" value="Исполнитель: " />
				<p:inputText id="owner" value="#{taskBean.task.owner}" readonly="true"></p:inputText>
			</pm:field>
			<pm:field>
				<p:outputLabel for="textarea" value="Описание: " />
				<p:inputTextarea id="textarea" value="#{taskBean.task.description}" readonly="true"/>
			</pm:field>
			<p:commandButton value="Утвердить" action="#{taskBean.claimTask()}"
				oncomplete="refreshTask();"/>
		</p:panel>
		
		</h:form>
		<h:outputLabel id="output" value="#{taskBean.task.taskId}" />
	</ui:define>

	<ui:define name="footer" id="footer">
		<p:panelGrid id="taskfooter">
			<p:tabMenu activeIndex="2" >
				<p:menuitem value="Доступные задания" icon="ui-icon-bars" outcome="pm:tasklist?transition=flow&amp;reverse=true"
					iconPos="top" />
				<p:menuitem value="Текущие задания" icon="ui-icon-bullets" outcome="pm:currenttasklist?transition=flow&amp;reverse=true"
				iconPos="top" />
			<p:menuitem value="Задание" icon="ui-icon-user" url="#" iconPos="top" />
			</p:tabMenu>
		</p:panelGrid>		
	</ui:define>
	</ui:composition>
</html>