<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/base.xhtml">

	<ui:define name="left">
		<p:button outcome="pm:admin?transition=slide&amp;reverse=true"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" />
	</ui:define>

	<ui:define name="right">
		<p:commandButton id="btn-add" icon="ui-icon-plus" type="button" onclick="PF('dialog-#{id}').show();"/>
	</ui:define>

	<ui:define name="main" id="main">
	
		<p:dialog id="dialog-#{id}" header="Добавление роли" widgetVar="dialog-#{id}" showEffect="pop">
			<h:form>
				<p:inputText value="#{bean.DTO.name}" />
				<p:commandButton value="Сохранить" action="#{bean.save()}" oncomplete="PF('dialog-#{id}').hide();"
					update=":#{id}:table-#{id}"/>
			</h:form>
		</p:dialog>
		
		<p:dataTable var="item" id="table-#{id}" value="#{bean.getPage()}"
			selectionMode="single" rowKey="#{item.id}" paginator="true" rows="10"
			tableStyleClass="ui-table-columntoggle">

			<p:ajax event="swiperight" listener="#{bean.remove}" update="table-#{id}" />
			
			<p:ajax event="taphold" listener="#{bean.tap}" update="table-#{id}, #{id}:dialog-#{id}" oncomplete="PF('dialog-#{id}').show();"/>

			<p:column headerText="Id" sortBy="#{itemid}" priority="1">
				<h:outputText value="#{item.id}" />
			</p:column>

			<p:column headerText="Название" sortBy="#{item.name}" priority="2">
				<h:outputText value="#{item.name}" />
			</p:column>

		</p:dataTable>
	</ui:define>

</ui:composition>