<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE" />
<h:head>
</h:head>
<h:body>
	<pm:page>
		<pm:header title="Авторизация">
			<f:facet name="right">
				<h:form>
					<p:commandButton value="Регистрация"
						oncomplete="window.location.replace('/signin.xhtml');" />
				</h:form>
			</f:facet>
		</pm:header>
		<pm:content>
			<p:panel id="basic" header="Ошибка авторизации"
				style="margin-bottom:20px">
				<h:panelGrid columns="2">
					<h:outputText value="Вы ввели не верный логин или пароль." />
				</h:panelGrid>
			</p:panel>
			<form method="POST" action="j_security_check" id="">
				<pm:field>
					<input type="text" name="j_username" placeholder="Логин" />
				</pm:field>
				<pm:field>
					<input type="password" name="j_password" placeholder="Пароль" />
				</pm:field>
				<pm:field>
					<input type="submit" value="Войти" />
				</pm:field>
			</form>
		</pm:content>
	</pm:page>
</h:body>

</html>