<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE" />
<h:head>
</h:head>
<h:body>
	<pm:page>
		<pm:header title="Регистрация">
			<f:facet name="right">
				<h:form>
					<p:commandButton value="Вход"
						oncomplete="window.location.replace('/');" />
				</h:form>
			</f:facet>
		</pm:header>
		<pm:content>
			<h:form>
				<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
				<pm:field>
					<p:inputText id="login" value="#{signInBean.username}" />
					<p:watermark for="login" value="Логин"  />
				</pm:field>
				<pm:field>
					<p:password id="password" value="#{signInBean.password}" />
					<p:watermark for="password" value="Пароль" />
				</pm:field>
				<pm:field>
					<p:commandButton value="Зарегистрироваться" action="#{signInBean.signIn}"/>
				</pm:field>
			</h:form>
		</pm:content>
	</pm:page>
</h:body>

</html>