<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE" />
<h:head>
	<h:outputScript library="javax.faces" name="jsf.js" target="head" />
</h:head>
<h:body>


        <p:commandButton id="btn-dynamic" value="Dynamic" type="button"/>

 <p:overlayPanel for="btn-dynamic" widgetVar="pnl-dynamic" at="right" showEffect="overlay" dynamic="true">
     <h2>Dynamic Content</h2>
     <p>This content is loaded on demand to speed up initial page load time.</p>
 </p:overlayPanel>
 </h:body>
 
 </html>