<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/base.xhtml">

	<ui:define name="left">
		<p:button outcome="pm:admin?transition=slide&amp;reverse=true"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" />
	</ui:define>
	
	<ui:define name="main" id="main">
		<h:form id="form-processes">
			<p:tabView id="processes">
				<p:ajax event="tabChange" listener="#{processBean.onTabChange}"
					update="processes" />
				<p:tab title="Процессы">
					<p:dataList var="process" value="#{processBean.processes}"
						type="definition">
						<p:commandLink title="Активировать"
							action="#{processBean.processSelectedAction()}"
							styleClass="ui-icon ui-icon-plus"
							style="float:left;margin-right:10px;margin-left:10px">
							<f:setPropertyActionListener value="#{process}"
								target="#{processBean.selectedProcess}" />
						</p:commandLink>
						<h:outputText value="#{process.processId}" />
					</p:dataList>
				</p:tab>
				<p:tab title="Активные процессы">
					<p:dataList var="process" value="#{processBean.processes}">
						<h:outputText value="#{process.processId}" />
					</p:dataList>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>