<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile">

	<f:view renderKitId="PRIMEFACES_MOBILE" />
	<h:head>
		<h:outputScript library="javax.faces" name="jsf.js" target="head" />
	</h:head>
	<h:body>
		<pm:page id="#{id}">

			<pm:header title="#{title}" swatch="b">
				<ui:insert name="left" />
				<f:facet name="right">
					<h:form id="menu-form">
						<ui:insert name="right" />
						<p:commandButton id="btn-menu-#{id}" value="#{userBean.username}"
							type="button" />
					</h:form>
				</f:facet>
			</pm:header>

			<pm:content>
				<ui:insert name="main" />
				<p:overlayPanel for="menu-form:btn-menu-#{id}"
					widgetVar="pnl-dynamic-#{id}" at="right" showEffect="overlay">
					<h2>#{userBean.username}</h2>
					<hr />
					<h:form>
						<p:menu>
							<p:menuitem outcome="pm:admin?transition=flow"
								rendered="#{userBean.isSuperUser()}" value="Администрирование" />
							<ui:insert name="menu" />
							<p:menuitem action="#{userBean.logOut}" value="Выход"
								icon="ui-icon-power" oncomplete="window.location.replace('/');" />
						</p:menu>
					</h:form>
				</p:overlayPanel>
			</pm:content>

			<pm:footer fixed="true">
				<ui:insert name="footer" />
			</pm:footer>

		</pm:page>
	</h:body>

</ui:composition>