<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE" />
<h:head>
	<h:outputScript library="javax.faces" name="jsf.js" target="head" />
</h:head>
<h:body>
	<pm:header title="#{title}">
			<ui:insert name="left" />
			<f:facet name="right">
				<h:form>
					<p:button outcome="pm:tasklist?transition=flow&amp;reverse=true"
						rendered="#{userBean.isSuperUser()}" 
						value="Приложение" />
					<p:commandButton action="#{userBean.logOut}" 
						value="Выход(#{userBean.username})" icon="ui-icon-power" 
						oncomplete="window.location.replace('/');"/>
				</h:form>
			</f:facet>
		
	</pm:header>
	
	<pm:content>
		<ui:insert name="main" />
	</pm:content>

	<pm:footer fixed="true">
		<ui:insert name="footer" />
	</pm:footer>

</h:body>

</html>