<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pm="http://primefaces.org/mobile"
	template="/templates/base.xhtml">

	<ui:define name="left">
		<p:button onclick="location.href='/'"
			styleClass="ui-btn-left ui-btn-inline" icon="ui-icon-arrow-l"
			value="Назад" />
	</ui:define>
	
	<ui:define name="main" id="main">
		<p:menu>
			<p:menuitem value="Процессы" outcome="pm:admin-processes?transition=slide"/>
			<p:menuitem value="Пользователи" outcome="pm:admin-users?transition=slide" />
			<p:menuitem value="Группы" outcome="pm:admin-groups?transition=slide" />
			<p:menuitem value="Роли" outcome="pm:admin-roles?transition=slide" />
			<p:menuitem value="Модули" outcome="pm:admin-deployment?transition=slide" />
		</p:menu>
	</ui:define>

</ui:composition>